/*
    Crea algunos estilos CSS de JavaFX para los distintos componentes del diseño que hayas utilizado
*/
#anchorPane{
   -fx-background-color: red
}
#pane{
    -fx-background-color: orange
}

#imageView1{
    -fx-image: url(../imagenes/doh.png)
 
}
#ImageView2{
   -fx-image: url(../imagenes/homer.png)
}
#backImage{
    
        -fx-image: url(../imagenes/sieteYMedia.png)
}/*
#buttonStartReset{
     -fx-background-color: white
}
#buttonExit{
     -fx-background-color: white
}
#buttonCarta1{
     -fx-background-color: white
}*/